<!-- Global header -->
<div class="global-header">
  <div class="container">
    <div class="global-header-wrap">
      <!-- Global header logo -->
      <a href="../../index.html">
        <img
          src="assets/images/logo.png"
          alt="Cyberoyal-logo"
          class="global-header__logo"
        />
      </a>

      <!-- Header More -->
      <button class="header-more js-toggle" toggle-target="#global-nav">
        <img src="./assets/images/header_menu_hamburger.png" alt="" />
      </button>

      <!-- Global header nav -->
      <nav class="global-nav hide" id="global-nav">
        <ul class="global-nav-list">
          <!-- Store item -->
          <li class="profile-info"></li>
          <li class="global-nav-item mobile">
            <a class="global-nav-item__header" href="/login.html">LOGIN</a>
          </li>
          <li class="global-nav-item mobile">
            <a class="global-nav-item__header" href="/signup.html">SIGNUP</a>
          </li>

          <li class="logout-btn global-nav-item">
            <a class="global-nav-item__header" href="#!">LOGOUT</a>
          </li>
        </ul>
      </nav>
      <div class="navbar__overlay js-toggle" toggle-target="#global-nav"></div>

      <!-- Global header action  -->
      <div class="global-header-action">
        <div class="global-header-action-container"></div>
      </div>
    </div>
  </div>
</div>
